@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Radoslaw Karbowiak<br />
</address>

<address>
    <strong>Girhub:</strong> <a href="https://github.com/Reevo55"></a><br />
</address>
