@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <h3>@Html.ActionLink("Logowanie pracownika", "EmployeeLogin", "Home")</h3>

</div>

