
@{
    ViewData["Title"] = "ShowAddedClient";
}

<h2>ShowAddedClient</h2>

<div>
    <h1 style="position: fixed center; top:50%; left: 50%">
        Został dodany klient @ViewBag.Data
    </h1>

    <h3>@Html.ActionLink("Lista wszystkich klientów", "GetAllClients", "Home")</h3>

</div>